@media (max-width: 1155px) {
  .allQuizz {
    justify-content: space-evenly;
  }

  .allQuizz h3:first-child {
    text-align: center;
  }

  #infoMyQuizz {
    justify-content: center;
  }

  .myQuizz h3 {
    margin: 28px 0 22px 0;
  }
  .myQuizz button {
    margin: 0 auto 30px auto;
  }

  #quizStorage {
    justify-content: space-evenly;
  }

  .image-description {
    flex-direction: column;
    align-items: center;
  }
  .image-result {
    width: 100%;
  }
  .description-result {
    width: 100%;
    text-align: center;
  }

  .answers {
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .bannerQuizz h3 {
    font-size: 19px;
    line-height: 22px;
  }

  .quizQuestions section .questionTitle {
    font-size: 19px;
    line-height: 22px;
  }
  .quizQuestions .answers text {
    font-size: 13px;
    line-height: 15px;
  }

  .start-create h3 {
    font-size: 20px;
    line-height: 23px;
  }
  .basic-info-quiz button {
    width: 325px;
    font-size: 18px;
    line-height: 21px;
  }

  .quizQuestions section {
    width: 50%;
  }

  .answer {
    flex-direction: column;
    align-items: center;
  }

  .quizQuestions .answers .answerOption img {
    width: 163px;
    height: 113px;
  }

  .description-result {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 760px) {
  .myQuizz h3 {
    margin: 22px auto 18px auto;
  }
  .myQuizz button {
    margin: 0 auto 20px auto;
  }

  #infoMyQuizz {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .basic-info-quiz button {
    width: 75%;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 375px) {
  .bannerQuizz {
    width: 100%;
  }
  .sixthScreen section img {
    width: 340px;
    height: 181px;
  }
  .sixthScreen section button {
    width: 220px;
  }
  .sixthScreen section text {
    font-size: 18px;
  }
}

/*  SEM ISSO RESPOSIVIDADE DO BANNER TAVA BUGANDO */

@media (max-width: 820px) {
  .bannerQuizz {
    width: 100vw;
  }
}

@media (max-width: 670px) {
  .bannerQuizz {
    width: 100%;
  }
}
