/* TELA 3.0 */
.thirdScreen,
.fourthScreen,
.fifthyScreen {
  width: 100vw;
  margin-top: 80px;
}

.start-create {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.start-create h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.basic-info-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #fff;
  margin: 0 auto 0 auto;
}

.list-question {
  width: 100%;
}

.basic-info-quiz input,
.list-question input {
  width: 100%;
  max-width: 600px;
  height: 46px;
  margin-top: 12px;
  background: #ffffff;
  border: none;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 5px;
}

.basic-info-quiz input::placeholder {
  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.basic-info-quiz button {
  border: none;
  width: 350px;
  height: 54px;
  margin-top: 25px;
  background-color: #ec362d;
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff5f4;
}

/* CREATE QUESTIONS */
.question-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-info-quiz h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 15px 0 8px 0;
}

.separator-wrong-answer {
  width: 100%;
  margin-top: 15px;
}
