* {
  box-sizing: border-box;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
* ::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  width: 100vw;
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* HOME SCREEN */
.firstScreen {
  width: 90%;
}

.firstScreen section div {
  height: 181px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* MY QUIZZ */

.myQuizz div {
  border: 1px dashed #d5d5d5;
  margin: 100px auto 25px auto;
  position: relative;
}

.myQuizz h3 {
  width: 300px;
  margin: 30px auto 50px auto;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.myQuizz span {
  font-size: 50px;
  color: #ec362d;
  position: absolute;
  top: 15px;
  right: 25px;
}
.myQuizz button {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px dashed #ec362d;
  box-sizing: border-box;
  border-radius: 50px;
  color: #ec362d;
  background: #fafafa;
}

/* ALL QUIZZES*/
.allQuizz {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.allQuizz h3:first-child {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 20px auto 20px auto;
}
.allQuizz div {
  width: 340px;
  height: 181px;
  /*margin: 0 auto 25px auto;*/
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.allQuizz div img {
  width: 340px;
  height: 181px;
  object-fit: cover;
  border-radius: 5px;
  /* filter: brightness(60%);*/
}

.allQuizz div h3 {
  font-size: 19px;
  line-height: 22px;
  margin-top: 125px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
/* QUIZZ SELECTED */
.bannerQuizz {
  width: 100vw;
  height: 142px;
  margin: 73px 0 25px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerQuizz img {
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.bannerQuizz h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
  position: absolute;
}

/* QUIZ QUESTIONS*/
.quizQuestions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quizQuestions section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 34px;
  width: 760px;
  background: #f7f5f5;
  margin-bottom: 42px;
}
.quizQuestions section .questionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 138px;
  font-size: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.quizQuestions section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.quizQuestions .answers .answerOption {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  cursor: pointer;
  overflow: hidden;
}
.quizQuestions .answers .answerOption img {
  width: 329.91px;
  height: 175.2px;
  margin-bottom: 8px;
}
.quizQuestions .answers text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

/* ANSWERS CHOICES */
.blur-choice {
  opacity: 0.3;
}

.wrong-choice {
  color: red;
}
.correct-choice {
  color: green;
}

.user-choice {
  opacity: 1;
}

/* RESULT */
.result {
  display: flex;
  justify-content: space-between;
}
.result-title {
  background-color: #ec362d;
}

.image-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-result {
  width: 50%;
}

.description-result {
  width: 50%;
  font-weight: bold;
  font-size: 29px;
  line-height: 25px;
  color: #484848;
  padding: 12px;
}

/*NAV FINAL QUIZ*/
.nav-final-quiz button {
  width: 220px;
  height: 44px;
  background: #ec362d;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff5f4;
}

.nav-final-quiz span {
  width: 220px;
  font-size: 18px;
  line-height: 21px;
  margin: 15px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #818181;
}

.fourthScreen {
  margin-top: 107px;
}

.sixthScreen .start-create{
  margin-top: 73px;
}
.sixthScreen section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sixthScreen div {
  position: relative;
  cursor: pointer;
}
.sixthScreen div img {
  width: 500px;
  height: 266px;
  left: 470px;
  top: 213px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 5px;
}
.sixthScreen button{
  border: none;
  width: 350px;
  height: 54px;
  margin-top: 45px;
  background-color: #ec362d;
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff5f4;
  cursor: pointer;
}
.sixthScreen text{
  width: 219.64px;
  height: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #818181;
  cursor: pointer;
}
.sixthScreen .t1{
  color: #FFFFFF;
  position: absolute;
  left: 23px;
  bottom: 13px;
}
.sixthScreen .t2{
  margin-left: 65px;
}
/* CLASSES SUPORT */
.hidden {
  display: none;
}
