* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: #ec362d;
}

/* HOME SCREEN */
.firstScreen {
  width: 90%;
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.myQuizz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myQuizz h3 {
  width: 75%;
  margin: 30px 0 50px 0;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.myQuizz button {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px dashed #ec362d;
  box-sizing: border-box;
  border-radius: 50px;
  color: #ec362d;
  background: #fafafa;
}
